bs4
cutlet
docker
fugashi
gitpython
langid
musicbrainzngs
openai
Pillow
pydantic
pytest
python-dotenv
questionary
requests
rich
tabulate
translate-shell
typed-argument-parser
typing_extensions
unidic-lite
unigen
urllib3
